*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color:  gray;
}

.header-wrapper{
    color: white;
    margin: 0 auto;
    background-color:  #65D060;
    text-align: center;
}

.body-wrapper{
    background-color: #8785A0;
    padding-bottom: 4px;
}

.empty-list{
    text-align: center;
}