.list-item {
  padding: 20px;
  background-color: white;
  margin: 2px 0px;
  margin-left: 200px;
  width: 75%;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  border-radius: 4px;
}



.list-item.checked {
  text-decoration: line-through;
}

.list-item:hover {
  cursor: pointer;
}

.tick.check {
  float: left;
  font-size: larger;
  margin-right: 10px;
}

.delete-icon {
  font-size: larger;
  float: right;
  color: red;
  margin: 0 10px;
}