.tab{
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
}

.tab:hover{
    cursor: pointer;
}

.tab.selected{
    border-bottom: 5px solid red;
}


