*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color:  gray;
}

.header-wrapper{
    color: white;
    margin: 0 auto;
    background-color:  #4696e5;
    text-align: center;
}

.logo-search-wrapper{
    background-color: #7DB28F;
    display: flex
}

.body-wrapper{
    background-color: #f5f5f5;
    padding-bottom: 4px;
    text-align: center;
}

.empty-list{
    text-align: center;
}