.list-item{
   padding: 20px;
   background-color: white;
   margin: 2px 0px;
   margin-left: 200px;
   width: 75%;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;   
}

.list-item.checked{
    text-decoration: line-through;
}

.tick{
    float: right;
    font-size: larger;
}